# Operating System Files
.DS_Store
Thumbs.db
target
deploy2.bat


# IDE Files
.vscode/
.idea/
*.iml

src/main/resources/serviceAccountKey.json

src/main/java/util/CloudinaryConfig.java

src/main/java/config/EmailConfig.java

src/main/java/config/RabbitMQConfig.java